*Python* : Is a programming language

#### Python variables
* They assign value to data
* Variable = data

In [1]:
# declaring a variable name and email
full_name = "Kellen Kinya"
email = "kinyakellen@gmail.com"

In [2]:
# calling the variable
full_name

'Kellen Kinya'

In [3]:
email

'kinyakellen@gmail.com'

In [4]:
# Using the assigned variable to construct a message 
# + + are used for string concateneation 
'Send an email  to ' + full_name +  " at " + email +  " to congratulate her."

'Send an email  to Kellen Kinya at kinyakellen@gmail.com to congratulate her.'

In [5]:
# concatenating using f string 
f'send an email to {full_name} at {email} to congratulate her.'

'send an email to Kellen Kinya at kinyakellen@gmail.com to congratulate her.'

In [6]:
"my names are " + full_name

'my names are Kellen Kinya'

### Variable types / data types in python
1. Strings : are text data
2. Numerical types : integers, floats, complex
    * int : are whole numbers(without decimals)
    * float : a number with a decimal
    * complex : represented by (x + yi). it takes 2 parameter (real and imaginary)
3. Sequence types : Stores collection of data(stores multiple items/elements in a single variable)
* List 
    * List items are ordered, changeable, and allow duplicate values.
    * List items are indexed, the first item has index [0], the second item has index [1] etc
* Tuples
    * A tuple is a collection which is ordered and unchangeable.
    * Tuples are written with round brackets.

4. Boolean type : bool
    * Has two possible values, true or false
5. sets type : sets, frozen set
* Sets
    A set is just like a list, except elements do not have order and each element appears just once
6. Binary types : bytes, bytesarray, memoryview
7. None type : Nonetype

In [7]:
type(full_name)

str

To use built in methods on a data type, this format is used
* [INSTANCE OF A DATATYPE] [DOT] [METHOD NAME] [PARENTHESES]

 To discover new method use 
 * help(datatype)  i.e help(str)

In [8]:
# examples 
full_name.upper()

'KELLEN KINYA'

In [9]:
full_name.endswith("a")

True

In [10]:
full_name.endswith("k")

False

In [11]:
sentence = "woW WE LOVE cOdInG and strINGS!"
sentence.lower()

'wow we love coding and strings!'

In [12]:
flatiron_mantra = "learn. love. code."
# first letter capitalized
flatiron_mantra.capitalize()

'Learn. love. code.'

In [13]:
# All first letter capitalized
flatiron_mantra.title()

'Learn. Love. Code.'

In [14]:
# replace code with live in the sentense
flatiron_mantra.replace('code', 'live')

'learn. love. live.'

In [15]:
ends_with_com = "art.vandelay@vandelay.co" # False
ends_with_com.endswith(".com")

False

In [16]:
web_address = 'vandelay.com' # 'www.vandelay.com
"www." +web_address

'www.vandelay.com'

In [17]:
f'www.{web_address}'

'www.vandelay.com'

In [18]:
phone_num_one = "7285553334" # 7285553335
phone_num_one = int(phone_num_one)
phone_num_one

7285553334

In [19]:
real =4
imaginary =7
complex_number = complex(real, imaginary)
complex_number

(4+7j)

In [20]:
complex(3,17)

(3+17j)

## Control flow: Conditionals

Python has 3 conditional statements  *if*, *elif* and *else*

In [21]:
number_50 = 100
my_number = 100
if number_50 > 100:
    # if number_50 is greater than 100, assign the `my_number` variable to the number 100
    my_number = 100
elif  number_50 > 50:
    # if number_50 is greater than 50, assign the `my_number` variable to the number 50
    my_number = 50
else: 
    my_number = 0
    # else assign the `my_number` variable to 0
my_number

50

In [22]:
temperature =60
is_it_hot =None
if temperature > 80:
    is_it_hot = "It is so hot out"
else: 
    is_it_hot = "This is nothing! Bring on the heat"
is_it_hot

'This is nothing! Bring on the heat'

In [23]:
today_is =6
day_of_the_week =None

if today_is ==1:
    day_of_the_week ='Sunday'
elif today_is ==2:
    day_of_the_week ='Monday'
elif today_is ==3:
    day_of_the_week = 'Tuesday'
elif today_is ==4:
    day_of_the_week ='Wednesday'
elif today_is ==5:
    day_of_the_week = 'Thursday'
elif today_is ==6:
    day_of_the_week ='Saturday'
else:
    day_of_the_week = "N/A"

day_of_the_week

'Saturday'

In [24]:
string = "Python"
sub_string = "an"
ends_with = None
# conditionals go here
if string.endswith(sub_string):
    ends_with =True
else:
    ends_with =False
ends_with

False

### List

In [25]:
top_travel_cities = ['Solta', 'Greenville', 'Buenos Aires', 'Los Cabos', 'Walla Walla Valley', 'Marakesh', 'Albuquerque', 'Archipelago Sea', 'Iguazu Falls', 'Salina Island', 'Toronto', 'Pyeongchang']

In [26]:
top_travel_cities

['Solta',
 'Greenville',
 'Buenos Aires',
 'Los Cabos',
 'Walla Walla Valley',
 'Marakesh',
 'Albuquerque',
 'Archipelago Sea',
 'Iguazu Falls',
 'Salina Island',
 'Toronto',
 'Pyeongchang']

In [27]:
#accessing elements in a list(slicing: is not destructive)
top_travel_cities[4]

'Walla Walla Valley'

In [28]:
top_travel_cities[2:5]

['Buenos Aires', 'Los Cabos', 'Walla Walla Valley']

In [29]:
top_travel_cities[-2]

'Toronto'

In [30]:
### changing elements with destructive methods
#append adds  element to a list
top_travel_cities.append('San_Antonio')
top_travel_cities

['Solta',
 'Greenville',
 'Buenos Aires',
 'Los Cabos',
 'Walla Walla Valley',
 'Marakesh',
 'Albuquerque',
 'Archipelago Sea',
 'Iguazu Falls',
 'Salina Island',
 'Toronto',
 'Pyeongchang',
 'San_Antonio']

In [31]:
#pop removes the last element in a list
top_travel_cities.pop()

'San_Antonio'

In [32]:
top_travel_cities

['Solta',
 'Greenville',
 'Buenos Aires',
 'Los Cabos',
 'Walla Walla Valley',
 'Marakesh',
 'Albuquerque',
 'Archipelago Sea',
 'Iguazu Falls',
 'Salina Island',
 'Toronto',
 'Pyeongchang']

In [33]:
top_travel_cities[4]

'Walla Walla Valley'

In [34]:
top_travel_cities[4] = 5

In [35]:
top_travel_cities

['Solta',
 'Greenville',
 'Buenos Aires',
 'Los Cabos',
 5,
 'Marakesh',
 'Albuquerque',
 'Archipelago Sea',
 'Iguazu Falls',
 'Salina Island',
 'Toronto',
 'Pyeongchang']

In [36]:
top_travel_cities[4] ='Walla Walla Valley'
top_travel_cities

['Solta',
 'Greenville',
 'Buenos Aires',
 'Los Cabos',
 'Walla Walla Valley',
 'Marakesh',
 'Albuquerque',
 'Archipelago Sea',
 'Iguazu Falls',
 'Salina Island',
 'Toronto',
 'Pyeongchang']

In [37]:
top_travel_cities.append('Marakesh')
top_travel_cities

['Solta',
 'Greenville',
 'Buenos Aires',
 'Los Cabos',
 'Walla Walla Valley',
 'Marakesh',
 'Albuquerque',
 'Archipelago Sea',
 'Iguazu Falls',
 'Salina Island',
 'Toronto',
 'Pyeongchang',
 'Marakesh']

In [38]:
# finding unique elements in a list
set(top_travel_cities)

{'Albuquerque',
 'Archipelago Sea',
 'Buenos Aires',
 'Greenville',
 'Iguazu Falls',
 'Los Cabos',
 'Marakesh',
 'Pyeongchang',
 'Salina Island',
 'Solta',
 'Toronto',
 'Walla Walla Valley'}

In [39]:
len(top_travel_cities)

13